# Python
__pycache__/
dist/
*.egg-info/
# Python venv
env
# Nodejs
node_modules
# Dependencies
.webassets-cache/
# Project specific
javiergr/static/css/main.*.css
output/
# Mac finder
.DS_Store
# vim
*.swp
