{% set area = 'about' %}
{% extends "base.html" %}
{% block title %}About Javier Gonel{% endblock %}
{% block content %}
<h1 class="title-with-company">About me</h1>
<img class="about-portrait img-responsive"
    src="{{ url_for('static', filename='img/about-portrait.jpg') }}"
    alt="Me again"/>

<p class="p-with-company">Dear visitor. My name is Javier Gonel, but many of my
friends know me as “graffic” or just “graf”. I'm a geek from Spain living in
Greece and working as a software developer / craftsman / engineer /
(put your own name). </p>

<h2>My CV like I was reading it.</h2>
<p>I have a degree (or two) in <a href="https://www.inf.uva.es/en/">Computer Engineering</a> from the
<a href="https://en.wikipedia.org/wiki/University_of_Valladolid">University of Valladolid</a>.
Although I truly believe that being professional and helping where you work is more
important than any title anyone can get.</p>

<p>My professional career started at a Greek ISP using python and java to glue
multiple internal and external systems. I was using python before, but it
never shined as it did there.</p>

<p>I joined <a href="http://www.pamediakopes.gr/">pamediakopes.gr</a> after a year as the
first in-house full-time developer. There I learned a lot about building teams and
meeting (or not) expectations. We were a small team and since we couldn't solve
everything, priorities were something we learned on the way. I won't forget the great people I left there.</p>

<p>Spent the next two years as a freelancer working in e-learning, betting, and IoT.
  Together with people from different countries and
  different personalities/goals they taught me the importance of a good team and what makes
  it good. In the technical side, I learned something that you can get from <a href="https://www.goodreads.com/book/show/629.Zen_and_the_Art_of_Motorcycle_Maintenance">motorcycle maintenance</a>:
  <i>“for a smooth ride (smooth daily work)
  you need good maintenance (good code base).”</i>
</p>

<p>And another two years working at
<a href="http://projectbeagle.com">Project Beagle</a> in the javascript UI, API backend and system operations: everything you need to
release the <i>Kraken</i>. I enjoyed what I did in every area. But one important task in every team I stepped into was to make it a better team: continuous improvement, visibility of what was going on, communication with other teams, etc.</p>

<p>For a change, I moved to Thailand to work in mobile gaming and augmented reality before ARKit was cool at <a href="http://theairic.com/">Digital A.I.R</a>.
Not knowing much about game development this put to a test how people from different technical areas can work together to build a product. As an old gamer, I enjoyed working with amazing game devs and artists. With some of them, we created a <a href="https://www.youtube.com/watch?v=Uy5GV2DEKV4">small game</a> that won the popular vote in the Global Game Jam Thailand 2017.
</p>

<p>Nowadays I'm working at the Athens branch of Glispa on their programmatic native ad exchange and mediation (Avocarrot). I joined to work on the front end dashboards and ended up doing a mix of back and front end.</p>

<p>You can get more details from my
  <a href="http://www.linkedin.com/in/javiergonel/en">
    Linked In Profile</a>.
</p>

<h2>Engineering</h2>
<p>Engineering is more than the technical bits. <b>Teams</b> and <b>Lean</b>. They might
sound like buzzwords but I find that besides technical challenges, the value of what we
do plus the people needed to deliver that, are the other two pillars of my day
to day job.</p>

<p>Lean, as in lean manufacturing and Toyota principles. Work on what is really
important without wasting your time in what it isn't. This includes
more buzzwords (or not) like Agile, Scrum, XP. I love to read everything
 <a href="http://www.poppendieck.com">Mary Poppendieck</a> writes.</p>

<p>I couldn't do what I do without the people I work with. Helping a team to
grow improves the final result and leaves you with motivated people.
Lean also promotes people (as well as one of the Agile principles). That's why being able
to serve the best I can the teams I work with is another challenge every day.</p>

<p>About lean and agile I can recommend
<a href="https://twitter.com/graffic/lists/lean">my curated twitter list</a>
of lean authors.</p>

<h2>The techie inside</h2>
<p>I've been in the world of computers since I got a Commodore 64
and two books about BASIC. Since then I haven't stopped realizing how amazing
computers can be. Solving problems with them became my hobby.</p>

<p>Besides the applications I help to build at work, I enjoy
playing with parallel and concurrent systems. And, don't ask me why, but I find
computer architectures and assembler quite interesting even if I haven't done
any serious work on it since years.</p>

<h2>Contact me</h2>
<p>Feel free to contact me for professional reasons or just to have a coffee.
You can do it via e-mail <a href="mailto:{{ CONTACT_EMAIL }}">
{{ CONTACT_EMAIL }}</a> or twitter:
<a href="https://twitter.com/graffic">@graffic</a>
</p>

<p>Also you might find me at the nearest ruby, python, javascript, lean or agile
meet-up and some times in the <a href="http://hackerspace.gr/">Athens
hackerspace</a>. I enjoy a lot learning about personal experiences in
those places.</p>

{% endblock %}
