{% set area = 'about' %}
{% extends "base.html" %}
{% block title %}About me{% endblock %}
{% block content %}
<h1 class="title-with-company">About me</h1>
<img class="about-portrait img-responsive"
    src="{{ url_for('static', filename='img/about-portrait.jpg') }}"
    alt="Me again"/>

<p class="p-with-company">Dear visitor. My name is Javier Gonel, but many of my
friends know me as “graffic” or just “graf”. I'm a geek from Spain living in
Greece and working as a freelance software developer / programmer / engineer /
(put your own name) from home or wherever I can find internet connection and
good coffee</p>

<h2>Work, work, work</h2>
<p>I have a degree in Software Engineering from the University of Valladolid.
But I truly believe that being profesional and doing a good job is more
important than any title anyone can get.</p>

<p>Since 2012 I'm working as a freelancer building web applications. Before I
was working at <a href="http://www.pamediakopes.gr/">pamediakopes.gr</a> 
as Technical Director. My skill range goes from system
operations and administration, programming and lately lean software
development. You can get more details from my 
  <a href="http://www.linkedin.com/in/javiergonel/en">
    Linked In Profile</a>
</p>

<h2>Code</h2>
<p>I've been in the world of computers since I got Commodore 64 many years ago
and two books about BASIC. Since then I haven't stopped realizing how amazing
computers can be. Solving problems with code was always my hobby.</p>

<p>Besides my work in web development, and from my Bachelor's thesis, I enjoy
playing with paralell and concurrent systems. And, don't ask me why, but I find
computer architectures and assembler quite interesing even if I haven't done
any serious work on it since years.</p>

<h2>Team</h2>
<p>My curreny job is as a freelancer, but I couldn't do what I do without
the people I work with. Not only a group of “programmers”, but all the
people involved in the issue at hand. I feel that working in a team helps to
get a better solution. Since I started my professional career I've put many 
hours to learn more about lean software engineering, team organization and systems
thinking.</p>


<h2>Contact me</h2>
<p>Feel free to contact me for professional reasons or just to have a coffee.
You can do it via e-mail <a href="mailto:{{ CONTACT_EMAIL }}">
{{ CONTACT_EMAIL }}</a> or twitter:
<a href="https://twitter.com/graffic">@graffic</a>
</p>

<p>Also you might find me at the nearest ruby, python, javascript, lean or agile
meetup and some times in the <a href="http://hackerspace.gr/">Athens
hackerspace</a>. I enjoy a lot socializing and personal experience sharing in
those places: code and fun.</p>

{% endblock %}

